#ERtxt, #title {
    color: #474645;
}

#logo {
    width: 2.5in;
    height: 2.5in;
}

#pic {
    width: 1.5in;
    height: 1.5in;
}

#nameLine {
    width: 54%;
}

.names {
    width: 1.8in;
}

label {
    color: #474645;
}

#hn{
    width: 1.5in;
}

#addLine {
    width: 90%;
}

#brgy, #cm, #prov {
    width: 1.7in;
}

#genderLine {
    width: 24%;
}

#rbs {
    margin-left: 5.4%;
}

#abg {
    width: 2.5in;
}

#skillsLine {
    width: 62%;
}

.gender {
    margin-left: 54.4%;
}

#we {
    width: 2.5in;
}

#weLine {
    width: 100%;
}

#sk1 {
    margin-left: 8%;
    width: 3.2in;
}

#cancel {
    border-color: rgb(170, 0, 0);;
    color:  rgb(170, 0, 0);
    width: 1in;
  }

#done {
    border-color: rgb(3, 151, 10);
    color:  rgb(3, 151, 10);
    width: 1in;
}

input:focus {
    outline: none;
}