#feedContainer {
  overflow-y: auto;
  max-height: 4609.86px;
}

.bgCover {
  height: 500px;
}

.bg-opacity-50 {
  background-color: rgba(0, 0, 0, 0.5);
}

#resumeWrapperModal {
  font-family: Arial, Helvetica, sans-serif;
  height: 297mm; /* A4 height */
  width: 210mm; /* A4 width */
  margin: 0;
  padding: 0;
}

@media print {
  body {
    margin: 10; /* No margins */
  }

  /* Hide header and footer */
  @media print {
    body::after {
      content: none !important;
    }
  }
}
