body {
  font-family: "Montserrat", sans-serif;
}

.search-input-focused {
  outline: none;
  border-color: #991b1b;
  box-shadow: 0 0 0 2px #991b1b;
}

.text-black {
  color: black !important;
}

.profile-icon {
  border-radius: 50%;
  border: 2px solid #113782;
}
.sub-navbar {
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.grid-container {
  margin-top: 140px;
}

.input-container {
  position: relative;
  top: 60px; /* Adjust the value according to the height of your navbar */
}

.bg-cover {
  margin-top: 95px;
  width: auto;
  height: auto;
}
.header-center-div {
  margin-top: -20px;
}

.container {
  width: 75%;
  max-width: 1200px;
}

.hide-scrollbar::-webkit-scrollbar {
  width: 0.5em;
}

.hide-scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}

.hide-scrollbar::-webkit-scrollbar-thumb {
  background-color: transparent;
}

/* Modal styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed position */
  z-index: 9999; /* Ensure it appears on top of other elements */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Enable scrolling if content overflows */
  background-color: rgba(0, 0, 0, 0.4); /* Semi-transparent background */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 4px;
  max-width: 500px;
}

#galleryLogo:hover > svg path {
  fill: #1746a2;
  cursor: pointer;
}

.original-color {
  background-color: white;
}

.red-color {
  background-color: #991b1b;
}

.tags-con {
  padding: 4px;
}

.job-offer.selected {
  background-color: rgba(153, 27, 27, 0.25);
  color: #000000;
}

.job-offer {
  cursor: pointer;
}

.bookmark-icon {
  cursor: pointer;
}

.indented {
  text-indent: 1em;
}

/* For Webkit-based browsers */
.scrollable-container::-webkit-scrollbar {
  width: 4px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: darkgray;
}

/* For WebKit based browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #991b1b;
  border-radius: 10px;
}

:root {
  scrollbar-color: #991b1b; /* Set the color of the thumb */
}

/* UI ACTIVE TAB */
/* Default styles for inactive tabs */
#tabs .icon,
#tabs .text {
  fill: rgb(202, 152, 152);
  color: rgb(202, 152, 152);
}

/* Styles for active tabs */
#tabs .ui-tabs-active #feedLink .icon,
#tabs .ui-tabs-active #feedLink .text {
  fill: white;
  color: white;
}

#tabs .ui-tabs-active .icon,
#tabs .ui-tabs-active .text {
  fill: white;
  color: white;
}

#tabs .ui-tabs-active {
  border-bottom: 3px solid #ffffff;
}

.selectedJob {
  background-color: #c90505;
  opacity: 0.6;
}

.selectedJob p,
.selectedJob span,
.selectedJob iconify-icon {
  color: white !important;
}

.liked path {
  fill: #df5050;
}

.heart {
  position: relative;
  width: 100px;
  height: 100px;
  transform: rotate(-45deg);
  background-color: red;
}

.heart::before,
.heart::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: red;
}

.heart::before {
  border-radius: 50%;
  top: -50px;
  left: 0;
}

.heart::after {
  border-radius: 50%;
  top: 0;
  left: 50px;
}

.heart-outline {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 110px;
  height: 110px;
  border: 5px solid black;
  border-radius: 50%;
}

#feedContainer {
  overflow-y: auto;
  max-height: 4609.86px;
}

#check-group {
  animation: 0.32s ease-in-out 1.03s check-group;
  transform-origin: center;
}

#check-group #check {
  animation: 0.34s cubic-bezier(0.65, 0, 1, 1) 0.8s forwards check;
  stroke-dasharray: 0, 75px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#check-group #outline {
  animation: 0.38s ease-in outline;
  transform: rotate(0deg);
  transform-origin: center;
}

#check-group #white-circle {
  animation: 0.35s ease-in 0.35s forwards circle;
  transform: none;
  transform-origin: center;
}

@keyframes outline {
  from {
    stroke-dasharray: 0, 345.576px;
  }
  to {
    stroke-dasharray: 345.576px, 345.576px;
  }
}
@keyframes circle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes check {
  from {
    stroke-dasharray: 0, 75px;
  }
  to {
    stroke-dasharray: 75px, 75px;
  }
}
@keyframes check-group {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.09);
  }
  to {
    transform: scale(1);
  }
}

#image-header-con {
  background-image: url("../images/event_header.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.event-carousel img {
  box-shadow: rgba(7, 185, 255, 0.3) 0px 19px 38px,
    rgba(57, 199, 255, 0.22) 0px 15px 12px;
}

#eventNameHeader,
#eventName {
  background: #ff6f9a;
  background: linear-gradient(to right, #ff6f9a 7%, #e33a19 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

.jobDescript {
  height: 95%;
}

.card-job,
.center-shadow {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(107, 107, 107, 1);
  -moz-box-shadow: 0px 0px 4px 0px rgba(107, 107, 107, 1);
  box-shadow: 0px 0px 4px 0px rgba(107, 107, 107, 1);

  cursor: pointer;
}

.slide-bottom {
  -webkit-animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
  }
}

.coverPhotoContainer {
  background: linear-gradient(
    0deg,
    rgba(0, 42, 126, 1) -42%,
    rgba(228, 228, 228, 1) 0%,
    rgba(242, 187, 203, 1) 29%,
    rgba(221, 179, 179, 1) 63%,
    rgba(231, 149, 149, 1) 95%
  );
}

#yearbookContainer {
  height: 100vh;
}

.sectionModalTracer {
  max-height: 70%;
}

.modaListApplicant {
  max-height: 80%;
}

#modalGuidelines {
  height: 90%;
}

#jobRepo {
  max-height: 100%;
}
