body {
  font-family: 'Montserrat', sans-serif;
}

.search-input-focused {
  outline: none;
  border-color: #991B1B;
  box-shadow: 0 0 0 2px #991B1B;
}

.text-black {
  color: black !important;
}

.profile-icon {
  border-radius: 50%;
  border: 2px solid #113782;
}