body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* Hide the main scrollbar of the body */
}

main {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*THE WHOLE NAVBAR*/
.navbar {
  position: fixed;
  width: 100%;
  height: 120px;
  top: 0;
  left: 0;
  background: #F4F1EF;
  box-shadow: 0 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0 0 8px 8px;
  z-index: 9999;
}

.content {
  margin-top: 120px;
  /* Other styling for the content */
}

.navbar-left {
  float: left;
}

.navbar-right {
  float: right;
}

.navbar-logo,
.navbar-text {
  margin-right: 10px;
}

.navbar-middle {
  text-align: center;
}

.navbar-search {
  padding: 5px 10px;
}

.navbar-icon {
  margin-right: 10px;
}

.navbar-logo {
  position: absolute;
  width: 74px;
  height: 68px;
  left: 57px;
  top: 20px;
}

.navbar-text {
  position: absolute;
  width: 204px;
  height: 44px;
  left: 139px;
  top: 37px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: -0.08em;
  color: #343A40;
}

.navbar-search {
  box-sizing: border-box;
  position: absolute;
  width: 800px;
  height: 47px;
  left: 500px;
  top: 35px;
  border: 2px solid #991B1B;
  border-radius: 12px;
  display: flex;
  align-items: center;
  background: #F4F1EF;
}


.navbar-search-icon {
  margin-right: 10px;
  color: #991B1B;
  background: #F4F1EF;
}

.navbar-search-input {
  width: 100%;
  padding: 5px 10px;
  background: #F4F1EF;
  outline: none; /* Add this line to remove the outline */
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}

.navbar-icon i {
  font-size: 24px;
}

.navbar-right .navbar-icon img {
  width: 44px;
  height: 44px;
  border: 2px solid #113782;
  border-radius: 21px;
}

.navbar-icon-text {
  font-weight: 800;
  /* Team Colors/Neutral/Gray03 */
  color: #495057;
}

 /* SUB NAVBAR */
.sub-navbar {
  position: fixed;
  top: 120px; /* Adjust this value to leave space below the main navbar */
  left: 20%; /* Adjust the left value to center the sub-navbar */
  width: 60%; /* Set the width to 50% */
  background-color: #991B1B;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.sub-navbar-content {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-navbar-link {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: bold;
  padding: 0 125px; /* Adjust the padding value to create desired spacing */
  margin: 0 10px; /* Adjust the margin value to create desired spacing */
  position: relative;
}

.sub-navbar-link:not(:last-child)::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 50px;
  background-color: #FFFFFF;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -10px; /* Adjust the right value to control the distance of the separation line */
}

.content-container {
  height: 100%; /* Set the height to 100% to fill the main container */
  width: 60%;
  margin: 20px auto; /* Add margin to the top and bottom */
  border-left: 2px solid black;
  border-right: 2px solid black;
  margin-top: 300px; /* Adjust this value as needed */ 
  max-height: 700px; /* Set the maximum height to 100% of the parent */
  overflow-y: auto; /* Enable vertical scrolling */
  padding: 20px;
  position: relative; /* Add relative positioning to the container */
}

header {
  background-color: #FFFFFF;
  padding: 10px;
  top: 0; /* Stick the header to the top */
}

h1 {
  /* Remove the absolute positioning styles for the header */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: bold;
  font-size: 42px;
  line-height: 36px;
  color: #474645;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  width: 75%;
  height: 70px;
  align-items: center;
  border: 2px solid #999999;
  border-radius: 4px;
  padding: 10px;
  margin-left: 125px;
  margin-right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  border-radius: 8px;
}

.search-icon {
  margin-right: 5px;
  width: 42.4px;
  height: 41px;
  border: 2px solid #113782;
  border-radius: 21px;
}

.input-bar {
  border: none;
  outline: none;
  padding: 5px;
  width: 100%;
}

.search-container:focus {
  outline: none;
}

.right-div {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  width: 20%;
}

.announcement {
  margin-top: 300px;
}

.right-div h2 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 22px;
  margin: 0 50px;
  margin-top:30px;
  letter-spacing: -0.04em;
  font-variant: all-small-caps;
  color: #474645;
}

.right-div hr {
  
  margin: 10px 50px;
  border: none;
  border-top: 1px solid black;
}

.button-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Align buttons at the center horizontally */
  margin-top: 10px;
  margin-left:50px;
}

.button-container button {
  width: 100%; /* Set the width to 100% to occupy full width */
  height: 40px;
  font-size: 16px;
  border-radius: 4px;
  margin: 0 50px;
  margin-top: 10px;
}

.button-college {
  background-color: #5185E9;
  color: #FFFFFF;
}

.button-university {
  background-color: #991B1B;
  color: #FFFFFF;
}

.content {
  position: relative; /* Add relative positioning to the content container */
  width: 75%;
  height: 470px; /* Set the desired height for the div */
  overflow: auto; /* Add a scrollbar when the content overflows the div */
  /* Rest of the CSS rules */
  align-items: center;
  border: 2px solid #999999;
  padding: 10px;
  margin-left: 125px;
  margin-right: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  border-radius: 8px;
}

.user-profile {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.user-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover; /* Add object-fit: cover; to prevent the image from overlapping */
}


.user-details h3 {
  margin: 0;
  font-size: 16px;
}

.user-details p {
  margin: 0;
  color: #999;
}

.user-post p {
  margin-bottom: 10px;
}
.image-container {
  text-align: center; /* Center align the images horizontally */
  margin-bottom: 10px;
}

.image-container img {
  max-width: 100%;
  height: 300px;
  display: inline-block; /* Make the images inline */
  margin: 0 10px; /* Adjust the margin between the images */
  border-radius: 6px;
  object-fit: contain; /* Scale the images to fit within the given dimensions */
}

.post-actions {
  position: absolute; /* Position the post actions div absolutely */
  bottom: 0; /* Align the div to the bottom */
  left: 0; /* Align the div to the left */
  width: 100%; /* Set the width to 100% */
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  padding-top: 10px;
  background: #F1F3F5;
  justify-content: space-between;
}

.post-actions-left {
  flex: 1;
  /* Existing styles */
  white-space: nowrap; /* Add this line to prevent line wrapping */
  overflow: hidden; /* Add this line to hide any overflowing content */
  text-overflow: ellipsis; /* Add this line to display an ellipsis (...) for truncated text */
}

.post-actions-left a {
  color: #0000ff;
  text-decoration: underline;
  /* Existing styles */
  max-width: 100%; /* Add this line to ensure the link does not exceed the available width */
  margin-left: 20px;
}

.post-actions-right {
  display: flex;
  align-items: center;
}

.share-icon,
.like-icon {
  margin-right: 10px;
  cursor: pointer;
}

.fa-share,
.fa-heart {
  color: #999;
}

.content {
  /* Existing styles */
  margin: 30px 127px;
}