svg {
  fill: #474645;
}
.dash-content,
.with-shadow {
  box-shadow: rgba(0, 0, 0, 0.19) 5px 2px 5px, rgba(0, 0, 0, 0.23) 0px 2px 6px;
  color: rgb(34, 32, 32);
}

.center-shadow {
  -webkit-box-shadow: 0px 0px 2px 0px rgba(107, 107, 107, 1);
  -moz-box-shadow: 0px 0px 2px 0px rgba(107, 107, 107, 1);
  box-shadow: 0px 0px 2px 0px rgba(107, 107, 107, 1);
  cursor: pointer;
}

.ui-tabs-active {
  background-color: #991b1b;
  font-weight: bold;
  color: white;
}

.ui-tabs-active svg {
  fill: white;
}

.profile {
  height: 50px;
  width: 50px;
}

.modal {
  background-color: #1e1c1c98;
}

.modal-body {
  height: 70%;
}

#galleryLogo:hover > svg path {
  fill: #1746a2;
  cursor: pointer;
}
.logo-container {
  height: 120px;
}

.bulsu-logo {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.messageIcon {
  height: 22px !important;
}

input {
  outline: none !important;
}

.promptMsg {
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
    visibility: visible;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

#feedContainer {
  overflow-y: auto;
  height: 75vh;
  max-height: 4609.86px;
}

#communityContainer {
  overflow-y: auto;
  height: 100%;
  max-height: 80vh;
}

.activeBtn {
  color: white;
  background: #991b1b;
}

#check-group {
  animation: 0.32s ease-in-out 1.03s check-group;
  transform-origin: center;
}

#check-group #check {
  animation: 0.34s cubic-bezier(0.65, 0, 1, 1) 0.8s forwards check;
  stroke-dasharray: 0, 75px;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#check-group #outline {
  animation: 0.38s ease-in outline;
  transform: rotate(0deg);
  transform-origin: center;
}

#check-group #white-circle {
  animation: 0.35s ease-in 0.35s forwards circle;
  transform: none;
  transform-origin: center;
}

@keyframes outline {
  from {
    stroke-dasharray: 0, 345.576px;
  }
  to {
    stroke-dasharray: 345.576px, 345.576px;
  }
}
@keyframes circle {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0);
  }
}
@keyframes check {
  from {
    stroke-dasharray: 0, 75px;
  }
  to {
    stroke-dasharray: 75px, 75px;
  }
}
@keyframes check-group {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.09);
  }
  to {
    transform: scale(1);
  }
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  text-align: justify;
}

tbody tr:nth-child(odd) {
  background-color: #cececeb0;
}

.loading-spinner {
  width: 150px;
  height: 150px;
  border: 2px solid rgb(142, 184, 240);
  border-radius: 50%;
  border-top-color: #0001;
  animation: loadingspinner 0.7s linear infinite;
}
@keyframes loadingspinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.remove-question:hover {
  animation: tilt-shaking 0.3s linear infinite;
}

@keyframes tilt-shaking {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

#logList {
  height: 70%;
}

#printLogsBtn:hover iconify-icon {
  filter: brightness(0) invert(1); /* Change the icon color to white on hover */
}

.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #991b1b !important;
  margin: 5px 0px;
}

#displayChart.off {
  background-color: #c7c7c7;
  color: rgb(138, 138, 138);
  cursor: default !important;
}

#displayChart.on {
  background-color: #991b1b;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

#displayChart.on:hover {
  background-color: #601010;
  font-weight: bold;
}

#promptMsgComment {
  left: 35%;
}
