
svg{
  fill: #474645;
}
.dash-content,
.response_by_year{
  box-shadow: rgba(0, 0, 0, 0.19) 5px 2px 5px, rgba(0, 0, 0, 0.23) 0px 2px 6px;
  color: rgb(34, 32, 32);
}


.ui-tabs-active{
  background-color: #991B1B; 
  font-weight: bold;
  color: white;
}

.ui-tabs-active svg{
  fill: white;
}

.profile{
  height: 50px;
  width: 50px;
}

.modal{
  background-color: #1e1c1c98;
  
}

.modal-body{
  height: 70%;
}

#galleryLogo:hover >svg path{
  fill: #1746A2;
  cursor: pointer;
}