@tailwind base;
@tailwind components;
@tailwind utilities;

.heading-container {
  background-image: url("../assets/heading.png");
}

body {
  font-family: "Montserrat", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}
/* For font-awesome plugin  */
/* * makes the icon not float upwards */
.fa-xl {
  line-height: 1;
}

@layer components {
  /* * For Modal Background (the translucent grayish)*/
  .modal-bg {
    background-color: #1e1c1c98;
  }

  .btn-primary {
    @apply bg-accent hover:bg-darkAccent py-2 px-5 text-white font-normal rounded-md transition-all;
  }
  .btn-tertiary {
    @apply bg-gray-100 hover:bg-accent py-2 px-5 hover:text-white  font-normal rounded-md border border-gray-300 transition-all;
  }
  .Lobster {
    font-family: "Lobster", cursive;
  }

  input[type="radio"],
  input[type="checkbox"] {
    /* Makes the color of input accent color */
    accent-color: theme("colors.accent");
    /* makes it bigger */
    @apply w-5 h-5;
  }
  th,
  td {
    @apply p-2 mx-auto text-center;
  }

  /* Invert btn  */
  .invert-accent {
    color: white;
    background: #991b1b;
  }

  /* shortcut for sub-headings */
  .text-subheading {
    @apply font-bold uppercase text-accent;
  }

  /* *  Input Styles */
  .input-text {
    @apply border border-gray-400 rounded-sm py-2 px-4  shadow-md;
  }
  .add-focus {
    @apply focus:outline-none focus:ring-4 focus:ring-offset-2 focus:ring-blue-600;
  }
  .input-msg {
    @apply block h-4 font-bold text-green-500 invisible;
  }

  /* * Input validation */
  .invalid-input {
    @apply bg-red-100 border-red-900 border-2;
  }

  .valid-input {
    @apply bg-green-100 border-green-900 border-2;
  }
  .input-msg.valid {
    @apply visible;
  }
  .input-msg.invalid {
    @apply visible text-red-500;
  }
}

@layer utilities {
  @layer responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
